<html>
  <head>
    <%= erb :_header %>
  </head>
  <body>
    <h1><a href="/">けいじばん<a/></h1>
    <div>
      <a href="/thread_new">新規作成</a>
    </div>
    <table>
      <caption>いちらん</caption>
      <thead>
        <tr>
          <th>件名</th>
          <th>用件</th>
          <th>なにしてる?</th>
        </tr>
      </thead>
      <tbody>
        <% @bbs_threads.each do |bbs_thread| %>
          <tr>
            <td>
              <a href="/threads/<%= bbs_thread.id %>">
                <%= bbs_thread.name %>
              </a>
            </td>
            <td><%= bbs_thread.title %></td>
            <td><%= bbs_thread.body %></td>
            <td>
              <a href="/edit/<%= bbs_thread.id %>">編集</a>
            </td>
            <td>
              <a href="/delete/<%= bbs_thread.id %>">削除</a>
            </td>
            <td>
              <form action="/clones/<%= bbs_thread.id %>" method="post">
                <input type="submit">
              </form>
            </td>
          </tr>
        <% end %>
      </tbody>
  </body>
</html>
