<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1><%= @bbs_thread.name %>さんのページ</h1>
    <div>
      <ul>
        <li><%= @bbs_thread.title %></li>
        <li><%= @bbs_thread.body %></li>
      </ul>
    </div>
    <table>
      <caption>コメント一覧</caption>
      <thead>
        <tr>
          <th>だれ?</th>
          <th>件名</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @comments.name %></td>
            <td><%= @comments.title %></td>
            <td><%= @comments.body %></td>
          </tr>
      </tbody>
    </table>
    <h2>コメント</h2>
    <form action="/comment/<%= @bbs_thread.id %>" method="post">
      <div>
        <label for="comment_name">お名前</label>
        <input type="text" name="name" id="comment_name">
      </div>
      <div>
        <label for="comment_title">タイトル</label>
        <input type="text" name="title" id="comment_title">
      </div>
      <div>
        <label for="comment_body">なにしてる?</label>
        <input type="text" name="body" id="comment_body">
      </div>
      <input type="submit">
    </form>
  </body>
  <footer>
    <div>
      <a href="/">ホーム</a>
    </div>
  </footer>
</html>
