<html>
  <head>
    <%= erb :_header %>
  </head>
  <body>
    <!-- threads -->
    <h1><%= @bbs_thread.name %>さんのページ</h1>
    <div>
      <ul>
        <li><%= @bbs_thread.title %></li>
        <li><%= @bbs_thread.body %></li>
      </ul>
    </div>
    <!-- comment forms -->
    <h2>新規コメント</h2>
    <form action="/threads/<%= @bbs_thread.id %>/comments" method="post">
      <div>
        <label for="comment_name">お名前</label>
        <input type="text" name="name" <% if @name %> value="<%= @name %>" <% end %> id="comment_name">
      </div>
      <div>
        <label for="comment_title">タイトル</label>
        <input type="text" name="title" id="comment_title">
      </div>
      <div>
        <label for="comment_body">なにしてる?</label>
        <input type="text" name="body" id="comment_body">
      </div>
      <input type="submit">
    </form>
    <!-- comment tables -->
    <table>
      <caption>
        <h2>コメント一覧</h2>
      </caption>
      <thead>
        <tr>
          <th>だれ?</th>
          <th>件名</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody>
        <% @bbs_thread.comments.each do |comment| %>
          <tr>
            <td><%= comment.name %></td>
            <td><%= comment.title %></td>
            <td><%= comment.body %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
  <footer>
    <div>
      <a href="/">ホーム</a>
    </div>
  </footer>
</html>
